version = 'Version 1.1.0'
path = '../'

!!! 5
html.no-js
  head
    block head
      meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
      meta(http-equiv="content-language", content="en")
      meta(name="keywords", content="jquery,tooltip,popup,plugin,css3,open-source,mit-license,extension,overlay")
      meta(name="description", content="Sebastian Helzle's jQuery Rondell plugin")

      link(rel="stylesheet", href="#{path}examples/screen.css", type="text/css", media="all", title="Screen")
      link(rel="stylesheet", href="#{path}dist/jquery.rondell.css", type="text/css", media="all", title="Screen")

      script(src='#{path}libs/modernizr-2.0.6.min.js')
  body
    .pageHeader.hasShadow
      block pageHeader
        h1#docustart Rondell - Display images and other content in a nice way

        p
          b= version
          | &nbsp;- Created by&nbsp;
          a(href="http://www.sebastianhelzle.net", target="_blank", title="Sebastian Helzle IT-Consulting") Sebastian Helzle

    #introduction.page.hasShadow
      block content

    br

    noscript
      img(src="http://tracking.sebastianhelzle.net/piwik.php?idsite=5", style="border:0", alt="")

    block js
      script(src='#{path}libs/jquery-1.10.2.min.js')
      script(src="#{path}libs/jquery.mousewheel-3.0.6.min.js")
      script(src="#{path}dist/jquery.rondell.js")

    block tracking
      script(src="#{path}examples/demohelpers.js")
