mixin submenu(activeItem, fromRoot)
  items = { Overview: '../index.html', Installation: 'installation.html', Changelog: 'changelog.html', Options: 'options.html', spacer: '|', Carousel: 'carousel.html', Slider: 'slider.html', Scroller: 'scroller.html', Gallery: 'gallery.html', Thumbnails: 'thumbnails.html', Pages: 'pages.html' }
  if fromRoot
    items = { Overview: 'index.html', Installation: 'examples/installation.html', Changelog: 'examples/changelog.html', Options: 'examples/options.html', spacer: '|', Carousel: 'examples/carousel.html', Slider: 'examples/slider.html', Scroller: 'examples/scroller.html', Gallery: 'examples/gallery.html', Thumbnails: 'examples/thumbnails.html', Pages: 'examples/pages.html' }

  .subnav.centered
    ul.nav.nav-pills

      each url, item in items
        if activeItem == item
          li.active
            a(href=url) #{item}
        else if item == "spacer"
          li <span class="spacer">#{url}</span>
        else
          li
            a(href=url) #{item}

    br.clear
