extends ../includes/layout

append head
  title Thumbnails - jQuery Rondell

append content
  include ../includes/submenu
  mixin submenu('Thumbnails')

  br

  #rondellThumbnails(style="height:430px;") &nbsp;

  br

  .center
    a#selectDefaultTheme.label(href="#") default
    | &nbsp;-
    a#selectLightTheme.label.warning(href="#") light
    | &nbsp;-
    a#selectDarkTheme.label.inverse(href="#") dark

  br.clear
  br

  .center
    h2 Preset - Gallery with thumbnails

  hr

  .size2of3.centered
    :markdown
      This example fetches links and images from my brothers great webservice
      [wookmark.com](http://www.wookmark.com "Wookmark.com")
      and creates a thumbnail gallery from the data.
      The gallery still uses the same plugin as the other demos but
      uses the absolute item index to minimize movement and distraction when focusing items.

      The scrollbar allows fast movement through the whole gallery
      and the user sees his progress when going through the images.
      You can use the option *switchIndices* to disable direct item switching if you want to
      keep the items order.

      Here's how it's done for a simple gallery with some predefined images

  .size2of3.centered
    pre.
      &lt;div id="rondellThumbnails"&gt;
        &lt;img src="images/slider/pic1.png" alt="unicorn" title="A beautiful unicorn"&gt;

        ...

      &lt;/div&gt;

      &lt;script type="text/javascript"&gt;
        $(function() {
          $("#rondellThumbnails").rondell({
            preset: "thumbGallery"
          });
        });
      &lt;/script&gt;

  br
  .size2of3.centered
    :markdown
      Here's how you use images loaded from an api

  .size2of3.centered
    pre.
      &lt;div id="rondellThumbnails" style="height:430px;"&gt;&nbsp;&lt;/div&gt;

      &lt;script type="text/javascript"&gt;
        $(function() {
          $.ajax({
            url: "http://www.wookmark.com/api/json",
            dataType: "jsonp",
            success: function(data, text, xhqr) {
              var item, rondellContent = "", i;
              if (text === "success") {
                for (i = 0; i &lt; 24; i++) {
                  item = data[i];
                  rondellContent += ' \\
                    &lt;a href="'+item.url+'" title="'+item.title+'" \\
                      target="_blank" style="display:none"&gt; \\
                      &lt;img src="'+item.preview+'" title="'+item.title+'" width="'+item.width+'" height="'+item.height+'"/&gt; \\
                    &lt;/a&gt; \\
                  ';
                }
                $("#rondellThumbnails").html(rondellContent).rondell({
                  preset: "thumbGallery"
                });
              }
            }
          });
        });
      &lt;/script&gt;

  br.clear

append js
  :coffeescript
    $ ->
      # Api call to wookmark.com for the thumbnails sample.
      # If you just want to display a thumbnail gallery, use the init call in the
      # success callback.
      $.ajax
        url: "http://www.wookmark.com/api/json"
        dataType: "jsonp"
        success: (data, text, xhqr) ->
          if text is "success"
            rondellContent = ""

            # Create link and image from each item data
            for item in data[0..24]
              rondellContent += "
                <a href=\"#{item.image}\" title=\"#{item.title} @ #{item.url}\" target=\"_blank\" style=\"display:none\">
                  <img src=\"#{item.preview}\" title=\"#{item.title}\" width=\"#{item.width}\" height=\"#{item.height}\"/>
                </a>
              ";

            # Append items to rondell and init rondell
            $("#rondellThumbnails").html(rondellContent).rondell
              preset: "thumbGallery"

      # Themepicker code
      $("#selectDefaultTheme").click ->
        $("#rondellThumbnails .rondell-container").removeClass("rondell-theme-dark rondell-theme-light").addClass("rondell-theme-default")
        false
      $("#selectLightTheme").click ->
        $("#rondellThumbnails .rondell-container").removeClass("rondell-theme-dark rondell-theme-default").addClass("rondell-theme-light")
        false
      $("#selectDarkTheme").click ->
        $("#rondellThumbnails .rondell-container").removeClass("rondell-theme-default rondell-theme-light").addClass("rondell-theme-dark")
        false

